# Course         : Big Data Systems and Architectures 

# Assignment : Spark & Airflow 

# Task1

Student Name:Athanasios Alexandris

Student id : p2822202

Msc : Business Analytics PT, AUEB

As first steps in Task1, we created a SparkSession using the SparkSession.builder API with application name 'task1'. The getOrCreate() method is called to either get an existing SparkSession with the same application name or create a new one if it doesn't exist. So we created a new one.

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('task1').getOrCreate()

23/04/14 18:52:15 WARN Utils: Your hostname, MacBook-Pro-4.local resolves to a loopback address: 127.0.0.1; using 192.168.23.32 instead (on interface en0)
23/04/14 18:52:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/14 18:52:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/14 18:52:17 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/04/14 18:52:17 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

Next we used the spark.read.json() method to read the JSON file that contains our dataset and load it into a DataFrame in Spark. Also we displayed the first 20 rows of the dataset

In [3]:
df = spark.read.json('movie.json', multiLine=True)

In [4]:
df.show(20)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+------+-------+--------------------+--------------------+------------+---------+----+
|              actors|           countries|         description|           directors|               genre|            imdb_url|             img_url|           languages|metascore|rating|runtime|             tagline|               title|users_rating|    votes|year|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+------+-------+--------------------+--------------------+------------+---------+----+
|[Timoth√©e Chalame...|               [USA]|A young couple ar...|       [Woody Allen]|   [Comedy, Romance]|https://www.imdb....|https://m.media-a...|           [English]|       44| PG-13| 92 min|                null|A Rainy Day in Ne...|         6.6|   21,903|2019|
|[Emilia Clarke, H...|               [USA]|Creepy, terrifyin...|[Michael Escobedo...|  [Horror, Thriller]|https://www.imdb....|https://m.media-a...|           [English]|     null|    18| 91 min|When it comes to ...|       Murder Manual|         2.4|      192|2020|
|[Matthew Broderic...|               [USA]|A high school wis...|       [John Hughes]|            [Comedy]|https://www.imdb....|https://m.media-a...|   [English, German]|       61| PG-13|103 min|Because life is t...|Ferris Bueller's ...|         7.8|  308,847|1986|
|[Robert De Niro, ...|               [USA]|A convicted rapis...|   [Martin Scorsese]|   [Crime, Thriller]|https://www.imdb....|https://m.media-a...|           [English]|       73|     R|128 min|There is nothing ...|           Cape Fear|         7.3|  165,628|1991|
|[Lindsay Lohan, R...|       [USA, Canada]|Cady Heron is a h...|       [Mark Waters]|            [Comedy]|https://www.imdb....|https://m.media-a...|[English, German,...|       66| PG-13| 97 min|Survival of the R...|          Mean Girls|         7.0|  320,492|2004|
|[Sophia Lillis, S...|[Canada, Ireland,...|A long time ago i...|        [Oz Perkins]|[Fantasy, Horror,...|https://www.imdb....|https://m.media-a...|           [English]|       64| PG-13| 87 min|  Follow the crumbs.|     Gretel & Hansel|         5.3|   15,051|2020|
|[Chris Pratt, Bry...|               [USA]|When the island's...|       [J.A. Bayona]|[Action, Adventur...|https://www.imdb....|https://m.media-a...|  [English, Russian]|       51| PG-13|128 min|Off the Island. I...|Jurassic World: F...|         6.2|  250,190|2018|
|[Robert Downey Jr...|               [USA]|Earth's mightiest...|       [Joss Whedon]|[Action, Adventur...|https://www.imdb....|https://m.media-a...|[English, Russian...|       69| PG-13|143 min|  Avengers Assemble!|        The Avengers|         8.0|1,233,746|2012|
|[Matt Damon, Ben ...|               [USA]|Will Hunting, a j...|      [Gus Van Sant]|    [Drama, Romance]|https://www.imdb....|https://m.media-a...|           [English]|       70|     R|126 min|Wildly charismati...|   Good Will Hunting|         8.3|  826,970|1997|
|[Keir Dullea, Gar...|           [UK, USA]|After discovering...|   [Stanley Kubrick]| [Adventure, Sci-Fi]|https://www.imdb....|https://m.media-a...|  [English, Russian]|       84|     G|149 min|50 Years Ago One ...|2001: A Space Ody...|         8.3|  580,491|1968|
|[Al Pacino, Steve...|               [USA]|In 1980 Miami, a ...|    [Brian De Palma]|      [Crime, Drama]|https://www.imdb....|https://m.media-a...|  [English, Spanish]|       65|     R|170 min|The world is your...|            Scarface|         8.3|  712,283|1983|
|[Jason London, Jo...|               [USA]|The adventures of...| [Richard Linklater]|            [Comedy]|https://www.imdb....|https://m.media-a...|           [English]|       78|     R|102 min|         Weed rules.|  Dazed and Confused|         7.6|  158,876|1993|
|[John Ralston, Th...|[Canada, Germany,...|A young genius ac...|[Anthony Scott Bu...|[Drama, Horror, M...|https://www.imdb....|https://m.media-a...|           [English]|       45| PG-13| 90 min|Houses Are As Hau...|           Our House|         5.3|    5,563|2018|
|[Matthew Modine, ...|           [UK, USA]|A pragmatic U.S. ...|   [Stanley Kubrick]|        [Drama, War]|https://www.imdb....|https://m.media-a...|[English, Vietnam...|       76|     R|116 min|Acclaimed by crit...|   Full Metal Jacket|         8.3|  650,539|1987|
|[Daniel Radcliffe...|  [UK, USA, Germany]|An ancient prophe...|    [Chris Columbus]|[Adventure, Famil...|https://www.imdb....|https://m.media-a...|           [English]|       63|    PG|161 min|"Dobby has come t...|Harry Potter and ...|         7.4|  529,173|2002|
|[Clint Eastwood, ...|      [Germany, USA]|Disgruntled Korea...|    [Clint Eastwood]|             [Drama]|https://www.imdb....|https://m.media-a...|    [English, Hmong]|       72|     R|116 min|                null|         Gran Torino|         8.1|  701,410|2008|
|[Frances McDorman...|           [UK, USA]|A mother personal...|   [Martin McDonagh]|[Comedy, Crime, D...|https://www.imdb....|https://m.media-a...|           [English]|       88|     R|115 min|                null|Three Billboards ...|         8.2|  401,685|2017|
|[Paul Sanchez, La...|               [USA]|A FedEx executive...|   [Robert Zemeckis]|[Adventure, Drama...|https://www.imdb....|https://m.media-a...|  [English, Russian]|       73| PG-13|143 min|At the edge of th...|           Cast Away|         7.8|  504,512|2000|
|[Ewan McGregor, N...|               [USA]|Three years into ...|      [George Lucas]|[Action, Adventur...|https://www.imdb....|https://m.media-a...|           [English]|       68| PG-13|140 min|The saga is compl...|Star Wars: Episod...|         7.5|  688,367|2005|
|[Sandra Bullock, ...|               [USA]|Five years after ...|      [Susanne Bier]|[Drama, Horror, S...|https://www.imdb....|https://m.media-a...|           [English]|       51|     R|124 min|Never Lose Sight ...|            Bird Box|         6.6|  260,466|2018|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------+------+-------+--------------------+--------------------+------------+---------+----+
only showing top 20 rows

We used the count() method in order to count how many rows our dataset has, and we used print() to display the outcome.

In [5]:
print(df.count())

62058

In order to count the number of comedies in the database, we had to use the filter() method to isolate the movies that contain the "Comedy" in the "genre" column. A movie can have more than one genres, so the column "genre" is an array. In the filter() method we embeded the array_contains() method, to find the movies that contain a Comedy genre. Finally we used count(), and then we displayed the outcome

In [6]:
from pyspark.sql.functions import array_contains

In [11]:

comedy_count = df.filter(array_contains(df.genre, "Comedy")).count()
print(comedy_count)

19312

We used the select() method to specify the columns that we want to include only "users_rating" column. The summary () method computes summary statistics for numeric columns in a DataFrame. It returns a new DataFrame with the summary statistics for the selected column. By default, it includes statistics such as count, mean, standard deviation, minimum, and maximum. Finally we used show() to display the outcome.

In [12]:
users_rating_summary = df.select("users_rating").summary().show()

+-------+------------------+
|summary|      users_rating|
+-------+------------------+
|  count|             62056|
|   mean|  5.81410500193379|
| stddev|1.3521864101722174|
|    min|               1.0|
|    25%|               5.0|
|    50%|               6.0|
|    75%|               6.7|
|    max|               9.9|
+-------+------------------+

Next, we used the groupBy() and the count() methods to group the data in the DataFrame by 'rating' column and calculate the count of each group. Finally we used show() to display the outcome.

In [13]:
distinct_ratings = df.groupBy('rating').count().show()

+---------+-----+
|   rating|count|
+---------+-----+
|Not Rated| 8080|
|       UA|    7|
|  Unrated| 1295|
|     TV-Y|   16|
| Approved| 6419|
|   Passed| 4488|
|     M/PG|   27|
|     null|20667|
|        E|    2|
|       PG| 3286|
|    TV-MA|  639|
|     Open|    4|
|       18|    1|
|        M|   41|
|        U|    4|
|    TV-PG|  268|
|      All|    1|
|        C|    3|
|    NC-17|   22|
|        A|    6|
+---------+-----+
only showing top 20 rows